{% load static %}

<style>
    body {
      background-image: url("{% static 'img/logo/Laranja.jpg' %}");
    }
    </style> 
<div class="main">
    
    
<div class="container">
<center>
<div class="middle">
      

    <h1>Esqueceu a Senha !!!!!⁠</h1>
      <div>  
                  
          <div class="clearfix"><img src="{% static 'img/logo/jinx.jpeg' %}" alt="">
        
            <h1>Armas não matam pessoas! Quer dizer... até você atirar nelas.⁠</h1>
            <h3>Vou abrir a caixa do quanto eu me importo! Hm, espera aí... Está vazia! </h3>
            <h3>Entre em contato com o administrador para poder recuperar sua senha !!!! </h3>
         
        </div>
          
      </div>
      
      </div>
</center>
    </div>

</div>


